<app-navbarindex></app-navbarindex>
<div class="page-container" style="background-image: url('assets/images/hero-1.jpg')">
  <div class="container">
    <br>
  <h1>Interface Organisation</h1>
  <p>
    Chaque événement que nous organisons est une opportunité de créer des moments inoubliables,
     de connecter les gens et d'inspirer le changement. Avec chaque détail planifié avec soin, 
     nous façonnons des expériences qui laissent une empreinte durable dans les cœurs et les esprits. 
     Ensemble, donnons vie à des occasions qui transcendent l'ordinaire et inspirent à viser toujours plus haut.
    </p>
    <br>
    <br>
    <button class="btn btn-primary" (click)="createForm()">Créer mon formulaire d'inscription</button>
  </div>
<app-footer></app-footer>