<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard-Administrateur</h1>

    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Categories -->
        <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Categories</h3>
                </div>
                <div class="card-body">
                    <app-categories></app-categories>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Categories -->
            <div class="col-lg-12 mb-4">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h3 class="m-0 font-weight-bold text-primary">Annonce Evenement</h3>
                    </div>
                    <div class="card-body">
                        <app-ann-event></app-ann-event>
                    </div>
                </div>
            </div>

        <!-- Evenement -->
        <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Evenement</h3>
                </div>
                <div class="card-body">
                    <app-evenement></app-evenement>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Choice</h3>
                </div>
                <div class="card-body">
                    <app-choices></app-choices>
                </div>
            </div>
        </div> -->


        <!-- <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">question</h3>
                </div>
                <div class="card-body">
                    <app-questions></app-questions>
                </div>
            </div>
        </div> -->



        <!-- User -->
        <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">User</h3>
                </div>
                <div class="card-body">
                    <app-user></app-user>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">User COA</h3>
                </div>
                <div class="card-body">
                    <app-get-coa></app-get-coa>
                </div>
            </div>
        </div>
    </div>
</div>
