<app-navbarindex></app-navbarindex>
<form (ngSubmit)="setNewPassword()" class="password-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
    </div>
    <button type="submit" class="btn btn-primary">Set New Password</button>
  </form>
  <app-footer></app-footer>