.password-form {
    max-width: 400px; /* Largeur maximale du formulaire */
    margin: auto; /* Centrer le formulaire horizontalement */
    padding: 20px; /* Ajouter un peu d'espace intérieur */
  }
  
  .form-group {
    margin-bottom: 20px; /* Ajouter un espacement entre les groupes de champs */
  }
  
  label {
    font-weight: bold; /* Mettre en gras les étiquettes */
  }
  
  .btn-primary {
    width: 100%; /* Définir la largeur du bouton sur 100% */
    margin-top: 20px; /* Ajouter un espace en haut du bouton */
  }
  