.details-container {
    padding: 20px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-name {
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.detail-label {
    font-weight: bold;
}

.detail-value {
    margin-left: 10px;
}
