<div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">{{user.id ? "Edit" : "Add"}} User COA</h4>
        </div>
        <div class="modal-body">
          <label>Nom</label>
          <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom" required />
        </div>
        
        <div class="form-group">
          <label>prenom</label>
          <input type="text" [(ngModel)]="user.prenom" class="form-control" name="prenom" required />
        </div>
        
        <div class="form-group">
          <label>NCIN</label>
          <input type="text" class="form-control" [(ngModel)]="user.ncin" name="ncin" required />
        </div>
        
        <div class="form-group">
          <label>date de naissance</label>
          <input type="date" class="form-control" [(ngModel)]="user.date_naiss" name="date_naiss" required />
        </div>
        
        <div class="form-group">
          <label>email</label>
          <input type="email" class="form-control" [(ngModel)]="user.email" name="email" required />
        </div>

        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control"  name="password" required />
          </div>
  
        
        <div class="form-group">
          <label>Rôle</label>
          <select class="form-control" [(ngModel)]="user.role" name="role" required>
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onBack()">Annuler</button>
          <input type="submit" class="btn btn-success" value="Add" value="Save" (click)="saveUser()" />
        </div>
      </form>
    </div>
  </div>
  
  