<app-navbarindex></app-navbarindex>

<section
  id="hero"
  class="min-vh-100 d-flex align-items-center text-center"
  style="background-image: url('assets/images/hero-1.jpg')"
>
<br>

  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">

      <div class="col-12">
        
        <h1
          data-aos="fade-left"
          class="text-uppercase text-white fw-semibold display-1"
        >
          Bienvenue sur EventiFy
        </h1>
        <h5 class="text-white mt-3 mb-4" data-aos="fade-right">
          NOUS SOMMES LÀ POUR VOTRE ORGANISATION DE VOS ÉVÉNEMENTS
        </h5>

        <app-index></app-index>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
