<div class="modal-dialog">
  <div class="modal-content">
    <form>
      <div class="modal-header">
        <h4 class="modal-title">
          {{ ressources.id ? "Modifier" : "Ajouter" }} Ressources
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="onBack()"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="nom">Nom :</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            [(ngModel)]="ressources.ressource"
            name="nom"
            required
          />
        </div>

        <div class="form-group">
          <label for="description">Description :</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="ressources.descRes"
            name="description"
            required
          />
        </div>

        <div class="form-group">
          <label for="prix">Prix :</label>
          <input
            type="text"
            class="form-control"
            id="prix"
            [(ngModel)]="ressources.prixRes"
            name="prix"
            required
          />
        </div>

        <div class="form-group">
          <label for="quantite">Quantité :</label>
          <input
            type="text"
            class="form-control"
            id="quantite"
            [(ngModel)]="ressources.quantite"
            name="quantite"
            required
          />
        </div>

        <div class="form-group">
          <label for="sousCategorieId">Sous-Catégorie :</label>
          <select
            class="form-control"
            id="sousCategorieId"
            name="sousCategorieId"
            [(ngModel)]="ressources.sousCategorieId"
            required
          >
            <option *ngFor="let souscategorie of souscategories" [value]="souscategorie.id">
              {{ souscategorie.sousCategorie }}
            </option>
          </select>
        </div>
      </div>

      <div class="modal-footer">

        <input
          type="button"
          class="btn btn-success"
          value="Enregistrer"
          (click)="saveressources()"
        />
      </div>
    </form>
  </div>
</div>
