<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard-Client</h1>
    </div>
      <!-- Evenement -->
      <div class="col-lg-12 mb-4">
        <div class="card shadow">
          <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Evenement</h3>
          </div>
          <div class="card-body">
            <app-liste-evenement-by-iduser></app-liste-evenement-by-iduser>
          </div>
        </div>
      </div>
  </div>
  