<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Bouton pour basculer la barre latérale (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Recherche dans la barre supérieure -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
      <input
        type="text"
        class="form-control bg-light border-0 small"
        placeholder="Rechercher..."
        aria-label="Rechercher"
        aria-describedby="basic-addon2"
        [(ngModel)]="searchTerm"
        (input)="filterItems()"
      />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Barre de navigation supérieure -->
  <ul class="navbar-nav ml-auto">
    <!-- Élément de navigation - Alertes -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Compteur - Alertes -->
        <span class="badge badge-danger badge-counter">{{ notifications?.length }}</span>
      </a>
      <!-- Menu déroulant - Alertes -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">Centre d'alertes</h6>
        <!-- Affichage des notifications -->
        <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications">
          <div *ngFor="let notification of notifications" class="dropdown-item d-flex align-items-center">
            <div class="mr-3">
              <div class="icon-circle bg-primary text-white">
                <i class="fas fa-file-alt"></i>
              </div>
            </div>
            <div>
              <div class="notification-message">{{ notification.notification }}</div>
            </div>
          </div>
        </ng-container>
        <!-- S'il n'y a pas de notifications -->
        <ng-template #noNotifications>
          <span class="dropdown-item text-center small text-gray-500">Aucune notification</span>
        </ng-template>
      </div>
    </li>
  </ul>
    <!-- Séparateur -->
    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Élément de navigation - Informations utilisateur -->
    <div>
      <li class="nav-item">
        <a routerLink="/home"
          ><img
            class="img-profile rounded-circle"
            src="assets/logoo.png"
            style="max-width: 150px"
        /></a>
      </li>
    </div>

</nav>
