<app-navbarindex></app-navbarindex>
<hr>
<form class="user" (ngSubmit)="forgotPassword(email)">
    <div class="d-flex align-items-center mb-3 pb-1">
      <span class="h1 fw-bold mb-0">Welcome Back </span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a routerLink="/register"
        style="color: #393f81;">Register here</a></p>
    <a href="#!" class="small text-muted">Terms of use.</a>
    <a href="#!" class="small text-muted">Privacy policy</a>
  </form>
  <app-footer></app-footer>