

<div class="container-fluid">
    <app-navbar-collaborateur></app-navbar-collaborateur>
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <app-sidebar-collaborateur></app-sidebar-collaborateur>
        </div>
        <!-- Login Page Content -->
        <div class="col-md-9">
            <!-- Your login page content goes here -->
            <!-- For example, if you have a component for the login page -->
            <router-outlet></router-outlet>
            <!-- Or if it's a simple HTML content -->

        </div>
    </div>
</div>
