.user {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.user .h1 {
    font-size: 24px;
}

.user .form-group {
    margin-bottom: 20px;
}

.user label {
    font-weight: bold;
}

.user input[type="text"],
.user input[type="email"],
.user input[type="password"],
.user input[type="number"],
.user input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user input[type="text"]:focus,
.user input[type="email"]:focus,
.user input[type="password"]:focus,
.user input[type="number"]:focus,
.user input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
}

.user .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.user .btn-primary:hover {
    background-color: #0056b3;
}
